@import "./mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Rancho", cursive;
}

ul,
ol,
dl {
  padding: 0px !important;
  margin: 0px;
}
.style {
  background-position: center;
  color: white;
  width: auto;
  text-align: center;
}

.bodyContainer {
  background-image: url(../assets/images/fondo/fondoAbrigo.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .bodyContainer__header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
  h1 {
    @include display_justify_center;
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 25px;
  }
  p {
    font-size: 25px;
    color: white;
    display: flex;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 25px 0;
    line-height: 25px;
    padding: 25px;
    text-align: centerW;
  }
  .nosotrosTexto {
    @include display_justify_center;
  }
  .img {
    @include display_justify_center;
  }
  .bodyContainer__nav {
    width: 60%;
  }
}

.navbar-collapse {
  justify-content: end;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

#navbarNav ul li a {
  font-size: 1.8rem;
  line-height: 20px;
}

.menu {
  text-decoration: none;
  list-style: none;
  font-size: 1.3rem;
  background-image: url(../assets/images/fondo/fondoAbrigo.jpg);
  padding: 1rem;
}
nav .menu__bahia {
  line-height: 20px;
  font-size: 3rem;
}
.submenu ul li a {
  color: white;
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0px;
  font-size: 1rem;
  padding-inline: 0.5rem;
}

.menuDesplegable {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: #00000080;
  top: 52px;
  li {
    padding: 5px 0px;
    list-style: none;
  }
  li:hover {
    background-color: white;
  }
}

.menuDesplegable li:hover a {
  color: black;
}

.submenu:hover > ul {
  display: block;
}

.footer {
  @include display_justify_center;
  background-image: url(../assets/images/fondo/fondoAbrigo.jpg);
  padding: 0.5rem;
  margin-top: 20px;
  .footer__redes {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
  .footer__redes li {
    list-style: none;
  }
  .footer__redes li:hover {
    transform: scale(1.50);
    transition: all 1s;
  }
  ul.footer__redes {
    transition: all 1.5s;
  }
}

.titulo .inicio__header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.abrigo {
  background-image: url(../assets/images/fondo/fondoAbrigo.jpg);
  text-align-last: center;
  color: white;
  background-size: cover;
  min-height: 100vh;
  @include display_column;
  justify-content: space-between;
  h1 {
    font-size: 50px;
    padding: 25px;
  }

  .inicio__header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
  .images {
    padding: 5px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    gap: 10px;
  }
  .images img {
    width: 100%;
    height: 250px;
  }
  width: 100%;
  img:hover {
    transform: scale(1.25);
    transition: all 1.5s;
  }
}

.camisas {
  @include display_column;
  background-image: url(../assets/images/fondo/fondoAbrigo.jpg);
  text-align-last: center;
  color: white;
  background-size: cover;
  min-height: 100vh;
  justify-content: space-between;
  .images {
    padding: 5px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    gap: 10px;
  }
  img {
    width: 100%;
    height: 250px;
  }
  img:hover {
    transform: scale(1.25);
    transition: all 1.5s;
  }
}
.pantalones {
  background-image: url(../assets/images/fondo/fondoAbrigo.jpg);
  text-align-last: center;
  color: white;
  background-size: cover;
  min-height: s 100vh;
  display: block !important;
  .images {
    padding: 5px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    gap: 10px;
  }
  img {
    width: 100%;
    height: 250px;
  }
  img:hover {
    transform: scale(1.25);
    transition: all 1.5s;
  }
}

.remera {
  @include display_column;
  background-image: url(../assets/images/fondo/fondoAbrigo.jpg);
  text-align-last: center;
  color: white;
  background-size: cover;
  min-height: 100vh;
  justify-content: space-between;
  .images {
    padding: 5px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    gap: 10px;
  }
  img {
    width: 100%;
    height: 250px;
  }
  img:hover {
    transform: scale(1.25);
    transition: all 1.5s;
  }
}

.container__envios {
  @include display_column;
  background-image: url(../assets/images/fondo/fondoindex.jpg);
  min-height: 90vh;
  background-size: cover;
  gap: 70px;
  align-content: center;
  h1 {
    margin: 5px auto;
    padding: 5px 20px;
    text-align: center;
    color: white;
    width: fit-content;
    font-size: 50px;
  }

  .envios {
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.74);
    width: 650px;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 6px 6px 0px -3px rgba(125, 125, 125, 0.43);
  }
  .enviosTexto p {
    @include display_column;
    margin-top: -10px;
    padding: 0;
    color: white;
    font-size: 22px;
    background-color: transparent !important;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    text-align: center;
    width: 80%;
  }

  h2 {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: fit-content;
    margin: 5px auto;
    padding: 5px 25px;
    font-size: 40px;
  }
  table {
    margin: 0 auto;
    border: 1px solid rgb(36, 9, 87);
    background-color: black;
    margin-bottom: 20px;
    font-size: 22px;
    td {
      padding: 15px;
      border: 1px solid rgb(36, 9, 87);
    }
  }
  tbody {
    background-color: black;
    border-color: rgb(102, 71, 36);
    color: white;
  }
}

.contacto .inicio__header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-image: url(../assets/images/fondo/fondoindex.jpg);
}

.contacto {
  @include display_column;
  align-items: center;
  text-align: center;
  background-image: url(../assets/images/fondo/fondoindex.jpg);

  background-size: cover;
  color: white;
  width: 100%;
  justify-content: space-between;
  padding: 25px;
  p {
    font-size: 25px;
    margin: auto;
    padding: 5px 0px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  h2 {
    padding: 10px 0px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  fieldset {
    padding: 10px;
    font-size: 25;
  }
  label {
    font-size: 25px;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 25px;
  }
}

@media screen and (min-width: 0px) and (max-width: 990px) {
  .bodyContainer .bodyContainer__header {
    flex-direction: column;
    align-items: center;
  }
  .menuDesplegable {
    left: 125px;
    top: 150px;
    display: none;
  }
}
